.scrollable-window {
    width: 1000px; 
    height: 600px; 
    overflow: auto; 
    border: 1px solid #ccc; 
    margin: 20px 8px;
}

.scrollable-content {
    padding: 0px; 
}

.free-version-description {
    font-size: 12px;
}
.free-version-header {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}

